/*============= main page header =============== */

/* .main-page-header {
  display: flex;
  flex-direction: column;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/*============= user preference =============== */

/* .user-preference-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.863);
  justify-content: space-between;
  margin-bottom: 20px;
}

.hello-username {
  color: whitesmoke;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/*===== user tools preference container ======= */
/* 
.user-tools-preference-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  margin: 10px;
  height: 25px;
  color: whitesmoke;
  background-color: whitesmoke;
  background: none;
  border: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn:hover {
  color: black;
  background-color: whitesmoke;
  border-radius: 5%; 
} */

/*=========== main page preference ============= */


