.training-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  padding-left: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.training-title {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: medium;
  align-self: center;
  text-decoration: underline;
}

.training-subject {
  margin-bottom: 3px;
}

.subject-title {
  font-weight: 700;
  padding-right: 5px;
}

.subscribe-btn {
  align-self: flex-end;
  margin-right: 10px;
  height: 25px;
  color: black;
  background: none;
  border: 2px solid black;
  border-radius: 5%;
  font-weight: 700;
  font-size: small;
}

.subscribe-btn:hover {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7%;
}
